<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/links') %>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <input type="hidden" value="<%= user %>" id="account_JS">
        <input type="hidden" value="undefined" id="name_contact-JS">
        <nav class="principal element-center">
            <ul class="nav-menu">
                <li>
                    <a href="/profile/<%= user %>">Profile</a>
                </li>
                <li>
                    <a href="/profile/<%= user %>/contacts">Your Contacts</a>
                </li>
                <li>    
                    <a class="pointer" id="logout">Log Out</a>
                </li>
            </ul>
        </nav> 
        <div class="content">
            <form action="/contacts/<%= user %>/update/<%= data[0].name %>/<%= data[0].id %>" method="POST">
                <div class="grid_2">
                    <label for="name">
                        <h2>Name</h2>
                        <input type="text" name="name" id="name" spellcheck="false" autocomplete="on" value="<%= data[0].name %>" required>
                    </label>
                    <label for="email">
                        <h2>Email</h2>
                        <input type="email" name="email" id="email" spellcheck="false" autocomplete="on" value="<%= data[0].email %>" required>
                    </label>
                </div>
                <div class="element-center top">
                    <label for="password">
                        <h2>Number</h2>
                        <input type="text" name="number" id="number" spellcheck="false" autocomplete="off" value="<%= data[0].number %>" required>
                    </label>
                </div>
                <div class="element-center">
                    <button class="btn-form">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/scripts') %>
    <script src="/js/alert.js"></script>
    <% if(alert == true) { %>
        <script>
            Swal.fire(
                {
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    background: 'var(--Grey_Dark-Color)',
                    color: 'var(--White-Color)',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer  %>,
                }
            ).then(() => {
                window.location = '<%= route %>'
            })
        </script>
    <% } %>
</body>
</html>